:root {
  --primary: #0d2438;
  --secondary: #102d44;
  --ternary: #1e3851;
  --teal: #2dd4bf;
  --found: #16a34a;
  --hint: #f59e0b;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/font/Nunito-Regular.ttf") format("truetype");
}

html {
  overflow: hidden;
}

html,
body,
#app {
  height: 100%;
}

body {
  background-color: var(--primary);
  color: white;
  font-family: Nunito;
}

img {
  display: block;
}

button:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.found {
  background-color: var(--found) !important;
}

.hint {
  background-color: var(--hint) !important;
}

.miss {
  background-color: var(--secondary) !important;
}

.modal-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-button {
  background-color: var(--ternary);
  border-radius: 0.25rem;
  border: none;
  padding: 0.15rem 0.3rem;
  cursor: pointer;
  color: inherit;
  font-weight: bold;
}

.modal-button > img {
  transition: transform 0.5s ease;
}

.modal-button:hover > img {
  transform: rotate(90deg);
}

.modal-header {
  display: flex;
  justify-content: space-between;
}
